body {
    margin: 0;
    font-family: 'Roboto', sans-serif; 
    background-image: url(images/back.jpg); 
    background-size: cover;
}
.body1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-right: 35%;
    margin-left: 35%;
    background-image: url("images/back2.jfif");
    background-size: 100%;
    color: rgb(131, 178, 187);
}
.marg {
    margin: 10px;
}
button {
    margin: 10px auto;
    display: block;
}
footer {
    padding: 20px 0;
}
.auth {
    border: 3px solid black;
    border-radius: 5px;
}
.form1 {
    border: 3px solid black;
    border-radius: 5px;
    
}
.body2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: url("images/back2.jfif");
    background-size: 100%;
    color: rgb(131, 178, 187);
}
.main2 {
    margin: 0 auto;
    margin-left: 40%;
    margin-right: 40%;
    
}
.body2 a, .body1 a {
    color: rgb(35, 42, 47);
}